<body>
	<% if (user) { %>
		You're logged in as <%= user.id %>.<br>
		Please enter the answer these questions as if it were MORNING time.<br>
		In the morning I like to listen to...
		<form method="post" action="/selectmusic">
			<select name="music">
  				<option value="rap">Rap</option>
  				<option value="country">Country</option>
  				<option value="electronic">Electronic</option>
			</select>
			<input type="submit" value="Submit">
		</form>
		<br><a href="/logout/facebook">Log out</a></p>
	<% } else { %>
		You're not logged in... <a href="/login/facebook">log in</a>.
	<% } %>
</body>