<body>
	<% include partials/head %>
	Preferences<br>
	What kind of lighting do you like in the morning?
	<form method="post" action="/set-preferences">
  		Dark<input type="range" name="lighting" min="0" max="10">Bright
  		<br><input type="submit">
	</form>
</body>