<body>
	<% include partials/head %>
	<ul>
    	<% scenes.forEach(function(scene) { %>
        	<li>
        		<a href='/scene?id=<%=scene.sceneid%>'><%=scene.name%></a>
        	</li>
    	<% }); %>
	</ul>
</body>