<body>
	<% include partials/head %>
	<h1><%= general[0].name %></h1>
	<% if(timeOfDay == 0){ %>
		<p>Good morning!</p>
	<% }else if(timeOfDay == 1){ %>
		<p>Good afternoon!<p>
	<% }else{ %>
		<p>Good evening!<p>
	<% } %>
	<p>At this time of day we play <%= music[0].genre[0][timeOfDay] %> music most of the time.<p>
	<p>Right now our lighting is usually set to <%= lighting[0].mood[0][timeOfDay] %> at <%= lighting[0].percent[0][timeOfDay] %> percent.</p>

	<p>Would you like to become apart of our scene?</p>
	<form action="/join-scene" method="post">
    	<button>Join Scene</button>    
	</form>
</body>