<body>
	<a href="/">Home</a> | <a href="/scenes">Scenes</a> | <a href="/preferences">Preferences</a><br>
	<ul>
    	<% scenes.forEach(function(scene) { %>
        	<li>
        		<a href='/scene?id=<%=scene.sceneid%>'><%=scene.name%></a>
        	</li>
    	<% }); %>
	</ul>
</body>